.interactiveSection {
    height: 25rem;
    background-color: #00A8A8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
}

.interactiveHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
        opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlideIn 1s ease-out forwards;
}

.interactiveHeader:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    transition: text-shadow 0.3s ease-in-out;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 550px;
}

.mainImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contentSection {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.carouselContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
}

.carouselIcon {
    font-size: 3rem;
    color: #FFD700;
    margin-bottom: 15px;
    
}

.checkIcon {
    color: #FFD700;
    margin-left: 10px;
}

.carouselContent h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.carouselContent p {
    font-size: 1rem;
    margin-top: 5px;
}
.carousel-control-prev-icon, 
.carousel-control-next {
    display: none !important;
}

@media (max-width: 768px) {
    .contentWrapper {
        flex-direction: column;
    }
    .interactiveHeader {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        margin-top: 100px;
        
    }
    .interactiveSection{
        height: 32rem;
    }
    
    .imageSection, .contentSection {
        min-width: 100%;
    }
   
    
    .mainImage {
        max-width: 60%;
    }

    .carouselContent h3 {
        font-size: 1rem;
    }

    .carouselContent p {
        font-size: 0.9rem;
    }

    .interactiveHeader {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .interactiveHeader {
        font-size: 1.2rem;
    }

    .mainImage {
        max-width: 90%;
    }
.carouselContent{
    margin-bottom: 50px;
}
    .carouselContent h3 {
        font-size: 1rem;
    }

    .carouselContent p {
        font-size: 0.85rem;
    }

    .interactiveSection {
        padding: 30px 10px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) { 
   
    .carouselContent{
        margin-bottom: 35px;    
    }
    .carouselContent h3 {
        font-size: 1rem;
    }
    .imageSection {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        max-width: 550px;
    }

}